{#
/**
 * @file
 * Theme override to display a single views grouping.
 *
 * Available variables:
 * - view: The view object.
 * - grouping: The grouping instruction.
 * - grouping_level: A number indicating the hierarchical level of the grouping.
 * - title: The group heading.
 * - content: The content to be grouped.
 * - rows: The rows returned from the view.
 *
 * @see template_preprocess_views_view_grouping()
 */
#}
<div class="view-grouping">
    <div class="view-grouping-header"><button type="button" class="accordion-trigger" aria-controls="" aria-expanded="false" tabindex="0"><span class="accordion-title">{{ title|trim }}<span class="accordion-icon"></span></span></button></div>
  <div class="view-grouping-content accordion-panel" role="region" tabindex="0">{{ content }}</div>
</div>
